@use "../../presets" as *;
@use "../../mixins" as *;

.main {
  background-color: #d7d7d7;
  grid-area: main;
  width: 100%;
  height: inherit;
}

.work__container, .skills__container, .services__container, .about__container{
  @extend %container;
}