@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  grid-area: footer;
  background-color: #1A1A1A;
  width: 100%;
  height: 200px;

  &__container {
    @extend %container;
  }

  &__holder {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__text-back {
    color: #fff;
  }

  &__back {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-back {
    height: 15px;
    width: 15px;
  }

  &__rights {
    color: #fff;
    text-align: center;
  }
}

.social-icons {
  display: flex;
  gap: 30px;
  font-size: 30px;

  &__btn {
    text-decoration: none;
    transition: background-color ease-out .2s;

    @media (max-width: 600px) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__btn:hover {
    background-color: #252525;
  }
}

.c-white {
  color: #fff;
}

