@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  grid-area: header;
  background-image: url("../../../assets/img/bg.svg");
  background-size: cover;
  background-position: center center;
  max-height: 1080px;

  @media (max-width: 1050px) {
    background-image: none;
    background-color: #000;
  }
}

.header__container {
  @extend %container;
  position: relative;
}

.header-content {
  max-height: 1080px;
  display: grid;
  grid-template-areas: "desc photo";
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 100vh;
  width: 100%;
  
  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
    grid-template-areas: "photo" "desc";
  }
}

.header-desc {
  z-index: 999;
  max-height: 1080px;
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media (max-width: 1050px) {
    width: 100%;
    height: 200px;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(94, 94, 94, 0.8);
    padding: 0 20px;
    gap: 100px;
  }

  &__info {
    @media (max-width: 1050px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }

  &__greetings {
    font-family: "Raleway", system-ui;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    
    @media (max-width: 1050px) {
      color: #fff;
      margin: 0;
      font-size: 20px;
    }
  }

  &__name {
    font-size: 60px;
    font-family: "Raleway", system-ui;
    font-weight: bold;
    line-height: 1em;

    @media (max-width: 1200px) {
      font-size: 55px;
    }
    
    @media (max-width: 1050px) {
      font-size: 40px;
      color: #fff;
    }
  }

  &__surname {
    font-size: 60px;
    font-family: "Raleway", system-ui;
    font-weight: bold;
    line-height: 1em;
    margin-left: 30%;

    @media (max-width: 1200px) {
      font-size: 55px;
    }

    @media (max-width: 1050px) {
      font-size: 40px;
      color: #fff;
    }
  }

  &__job {
    font-size: 25px;
    font-family: "Raleway", system-ui;
    font-weight: 800;
    color: #909090;
    margin-bottom: 140px;

    @media (max-width: 1050px) {
      margin: 0;
      font-size: 17px;
      color: #fff;
    }
  }
}

.social-media {
  display: flex;
  align-items: center;
  gap: 40px;
  
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    width: 60px;
    height: 55px;
    box-shadow: 0 5px 5px grey;
    text-decoration: none;
    transition: background-color ease-out .2s;
    
    @media (max-width: 600px) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__btn:hover {
    background-color: #000000;
  }

  &__icon {
    padding-left: 25%;
    padding-top: 20%;
    width: 60px;
    height: 55px;
    font-size: 32px;
    color: black;
    transition: color ease-in-out .2s;
    
    @media (max-width: 600px) {
      color: #fff;
    }
  }

  &__icon:hover {
    color: #fff;
  }
}

.header-photo {
  width: 100%;
  position: relative;
  z-index: 1;
  max-height: 1080px;
  grid-area: photo;
  height: 100%;

  &__holder {;
    position: absolute;
    right: -75px;
    bottom: 0;
    width: inherit;
    display: flex;
    align-items: flex-end;
    height: 100%;

    @media (max-width: 1050px) {
      right: 80%;
      left: 20%;
    }

    @media (max-width: 600px) {
      left: 0;
      right: 100%;
    }
  }

  &__img {
    height: 85%;

    @media (max-width: 1050px) {
      height: 90%;
    }
  }
}