@use "../presets" as *;
@use "../mixins" as *;

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "header" "main" "footer";
}

.-white-text {
  color: #fff;
}

.-black-text {
  color: #000;
}

.-white-bg {
  background-color: #fff;
}
