@use "../presets" as *;
@use "../mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #000;

  font-size: 16px;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}


